<section id="forgotPass">
    <form>
        <h1 class="text-left">Redefinir senha</h1>
        <p>Informe seu e-mail cadastrado para que possamos te enviar um link para redefinir
            sua senha.</p>

        <div>
            <div class="field-holder">
                <input type="text" alt="e-mail" required />
                <label>E-mail</label>
            </div>
            <button class="btn" type="button">Enviar</button>
        </div>
    </form>
    <app-login-footer></app-login-footer>
</section>