:host {
    #forgotPass {
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: radial-gradient(circle, #d3d9e5, #5a7bc3, #003399);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 600px;
        height: 300px;

        padding: 20px;

        border-radius: 20px;

        background-color: #fff;

        p {
            font-size: 17px;
        }

        input {
            font-size: 1.5em;
            height: 35px;
            width: 100%;
        }

        button{
            font-family: "Cinzel", serif;
            background-image: radial-gradient(circle, #2953a9, #204ba5, #1743a1, #0c3b9d, #003399);
            color: #FFF;
        }
    }
}
