<div id="modal-entrada">
    <form>

        <div class="row input-row">

            <mat-form-field class="col-md-5">
                <mat-label>Setor</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="col-md-5">
                <mat-label>Equipamento</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

        </div>

        <div class="row input-row">

            <mat-form-field class="col-md-5">
                <mat-label>Célula</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="col-md-5">
                <mat-label>Peso da Medida</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

        </div>

        <div class="row input-row">

            <mat-form-field class="col-md-5">
                <mat-label>Medida do Produtor</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <div class="col-md-5"></div>

        </div>

        <div class="buttons" >
            <button mat-flat-button color="primary">Enviar</button>
            <button mat-flat-button color="warn">Cancelar</button>
        </div>


    </form>
</div>