<div id="modal-entrada">
    <form [formGroup]="formEntrada">

        <div class="row input-row">
               
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Setor</mat-label>
                <mat-select (change)="setorAux()">
                  <mat-option *ngFor="let setor of setores" [value]="setor.name">
                    {{setor.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-5">
                <mat-label>Equipamento</mat-label>
                <input matInput placeholder="">
            </mat-form-field>

        </div>

        <div class="row input-row">

            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Célula</mat-label>
                <mat-select>
                  <mat-option *ngFor="let celula of celulas" [value]="celula.value">
                    {{celula.value}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-5">
                <mat-label>Peso da medida</mat-label>
                <input type="number" matInput placeholder="">
            </mat-form-field>

        </div>

        <div class="row input-row">

            <mat-form-field class="col-md-5">
                <mat-label>Medida do produtor</mat-label>
                <input type="number" matInput placeholder="">
            </mat-form-field>

            <div class="col-md-5"></div>

        </div>

        <div class="buttons" >
            <button mat-flat-button color="primary">Enviar</button>
            <button mat-flat-button color="warn">Cancelar</button>
        </div>


    </form>
</div>