<div id="modal-entrada">
    <form [formGroup]="formEntrada">

        <div class="row input-row">
               
            <mat-form-field class="col-md-10"    appearance="fill">
                <mat-label>Umidade</mat-label>
                <input matInput placeholder="" formControlName="umidade" >
            </mat-form-field>

        </div>

        <div class="row input-row">

            <mat-form-field class="col-md-10"    appearance="fill">
                <mat-label>Observação</mat-label>
                <textarea matInput placeholder="" formControlName="observacao" ></textarea>
            </mat-form-field>

        </div>

        <div class="buttons" >
            <button mat-flat-button (click)="sendForm()" mat-dialog-close color="primary">Enviar</button>
            <button mat-flat-button mat-dialog-close color="warn">Cancelar</button>
            <!-- <button mat-button mat-dialog-close>No</button> -->
        </div>


    </form>
</div>
