<div id="modalUpdateBody">
    <form [formGroup] = 'formUserUpdate'>
        
        <div class="input-data">
            <mat-form-field style="width: 45%;">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome de usuário" formControlName="nome_usuario">
            </mat-form-field>

            <mat-form-field style="width: 45%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail do usuário" formControlName="nome_email">
            </mat-form-field>
        </div>

        <div class="input-data">
            <mat-form-field style="width: 40%;">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Nova senha de usuario" formControlName="senha">
            </mat-form-field>

            <mat-form-field  style="width: 25%;">
                <mat-label>Tipo de Usuário</mat-label>
                <mat-select formControlName="flg_tipo_usuario">
                    <mat-option value="A">Administrador</mat-option>
                    <mat-option value="C">Comum</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field  style="width: 25%;">
                <mat-label>Status</mat-label>
                <mat-select formControlName="flg_status">
                    <mat-option value="A">Ativo</mat-option>
                    <mat-option value="I">Inativo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="btns">
            <button (click)="submitFormUpdate()" mat-raised-button mat-dialog-close color="primary">Salvar</button>
            <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
        </div>

    </form>
</div>