<div class="mat-elevation-z8 main-content">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.NOM_USUARIO}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.NOM_EMAIL}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tipoUser">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Tipo </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.FLG_TIPO_USUARIO}} </td>
    </ng-container>

    <ng-container style="text-align: center;" matColumnDef="statusUser">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Status </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.FLG_STATUS}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td class="data-flex" mat-cell *matCellDef="let element">

        <button (click)="deleteUser(element.NOM_EMAIL, element.NOM_USUARIO)" class="btn-action" mat-fab color="warn" aria-label="Botão para deletar usuário">
          <mat-icon aria-hidden="false" aria-label="Ícone de deletar" fontIcon="delete"></mat-icon>
        </button>

        <button (click)="updateUser(element.NOM_EMAIL)" class="btn-action" style="margin-left: 20px;" mat-fab color="primary" aria-label="Botão para editar usuário">
          <mat-icon aria-hidden="false" aria-label="Ícone de editar" fontIcon="edit"></mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button class="btn-action btn-plus" mat-button (click)="createUser()" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
  </button>
  

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>