#modalDeleteBody{
    width: 300px;
    height: 200px;

    padding: 25px 30px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gran-parent{
    position: relative;

    margin: 20px;

    align-items: center;
    justify-content: center;
}

.icon{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: -10px;
    right: -10px;

    width: 45px;
    height: 45px;
}

h1{
    font-weight: 350;
}