<div class="gran-parent">

  <div id="modalDeleteBody">

    <h1 mat-dialog-title>Deseja realmente deletar o usuário: <strong>{{data}}</strong> ?</h1>

    <div id="btns" mat-dialog-actions>
      <button mat-button style="margin-left: 20px;" mat-raised-button mat-dialog-close cdkFocusInitial
        (click)="onYesClick()" color="warn" aria-label="Botão para confirmar deleção de usuário">
        Deletar
      </button>
      
      <button mat-button mat-raised-button mat-dialog-close (click)="onNoClick()" color="primary"
        aria-label="Botão para cancelar deleção de usuário">
        Cancelar
      </button>
    </div>

    <button class="icon" mat-fab color="warn">
      <mat-icon aria-hidden="false" aria-label="Ícone de editar" fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>