<section id="forgotPass">
    <form [formGroup]="formForgotPass">
        <h1 class="text-left">Redefinir senha</h1>
        <p>Informe seu e-mail cadastrado para que possamos te enviar um link para redefinir
            sua senha.</p>

        <div>
            <div class="field-holder">
                <input class="form-control" type="text" alt="e-mail" formControlName="email" required/>
                <label>E-mail</label>
            </div>
            <button class="btn" type="button" [disabled]="formForgotPass.invalid" (click)="submitEmail()" >Enviar</button>
        </div>
        <span class="msg-error text-danger" *ngIf="msgError!=''">{{msgError}}</span>
    </form>
    <app-login-footer></app-login-footer>
</section>