#login{
    border: 1px solid red;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 20px;
    background-color: rgb(232, 228, 222);
}