#bodyModal{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 55vw;
    height: 65vh;
    background-color: white;

    position: relative;
}

.gran-parent{
    position: relative;

    margin: 20px;

    align-items: center;
    justify-content: center;
}

.icon{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: -12px;
    right: -12px;

    width: 50px;
    height: 50px;

    background-color: #228b22;
}

.input-data{
    display: flex;
    justify-content: space-around;

    width: 70%;

}

.btns{
    width: 85%;
    display: flex;
    justify-content: end;

    button{
        margin-right: 15px;
        width: 90px;
    }
}

form{

    height: 80%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}