<section id="login">
  <form [formGroup]="formLogin">
    <img src="./assets/img/logo/logoLogin.v1.png" />

    <div class="inputData">
      <img src="./assets/img/logo/user.png" />

      <div class="field-holder">
        <input type="text" class="form-control" alt="Usuário" formControlName="email" required>
        <label>E-mail:</label>
      </div>

    </div>

    <div class="inputData">
      <img src="./assets/img/logo/pass.png" />

      <div class="field-holder">
        <input type="password" class="form-control" alt="Senha" formControlName="password" required>
        <label>Senha:</label>
      </div>
    
    </div>

    <span class="msg-error text-danger " *ngIf="msgError!=''">{{msgError}}</span>

    <p> <a routerLink='/redefinir-senha'>Esqueceu a senha ?</a></p>

    <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid" (click)="submitLogin()">ENTRAR</button>
  </form>


  <app-login-footer></app-login-footer>

</section>